@model WebGSMT.Models.Account

@{
    ViewData["Title"] = "edit";
}

<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
        <!--Card header-->
        <div class="card-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Account</h5>
        </div>
        <!--Card body-->
        <div class="modal-body">
            <!-- Tab Menu -->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#account">
                        <span class="nav-icon">
                            <i class="flaticon2-chat-1"></i>
                        </span>
                        <span class="nav-text">Account Details</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#role" aria-controls="profile">
                        <span class="nav-icon">
                            <i class="flaticon2-layers-1"></i>
                        </span>
                        <span class="nav-text">Roles</span>
                    </a>
                </li>
            </ul>
            <!--begin::Example-->
            <div class="tab-content mt-5" id="myTabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <div class="form-group">
                        <form asp-action="edit" id="kt_form" name="myForm" onsubmit="return  validateFormEdit()">
                            <div class="tab-content">
                                <!--begin::Tab-->
                                <div class="tab-pane show active" id="kt_user_edit_tab_1" role="tabpanel">
                                    <!--begin::Row-->
                                    <div class="row">
                                        <div class="col-xl-2"></div>
                                        <div class="col-xl-7 my-2">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <div class="col-9">
                                                    <h3 class="text-dark font-weight-bold mb-10">@Model.UserName</h3>
                                                    <input type="hidden" id="usernameCheck" value="@Model.UserName"/>
                                                    <input class="form-control form-control-lg" type="hidden" asp-for="UserName" />
                                                    <input class="form-control form-control-lg" type="hidden" asp-for="Password" />
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label asp-for="FullName" class="col-form-label col-3 text-lg-right text-left"></label>
                                                <div class="col-9">
                                                    <input class="form-control form-control-lg" type="text" asp-for="FullName">
                                                    @Html.ValidationMessageFor(a => a.FullName, "", new { @class = "text-danger" })
                                                    <p id="fullNameValidate" class="text-danger"></p>
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label asp-for="DOB" class="col-form-label col-3 text-lg-right text-left"></label>
                                                <div class="col-9">
                                                    <input class="form-control form-control-lg" type="date" asp-for="DOB">
                                                    @Html.ValidationMessageFor(a => a.DOB, "", new { @class = "text-danger" })
                                                    <p id="DOBValidate" class="text-danger"></p>
                                                </div>
                                            </div>

                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label asp-for="Email" class="col-form-label col-3 text-lg-right text-left"></label>
                                                <div class="col-9">
                                                    <input class="form-control form-control-lg" type="text" asp-for="Email">
                                                    @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                                                    <p id="emailValidate" class="text-danger"></p>
                                                </div>
                                            </div>
                                            <!--end::Group-->
                                            <!--begin::Group-->
                                            <div class="form-group row">
                                                <label asp-for="PhoneNumber" class="col-form-label col-3 text-lg-right text-left"></label>
                                                <div class="col-9">
                                                    <input class="form-control form-control-lg" type="text" asp-for="PhoneNumber">
                                                    @Html.ValidationMessageFor(a => a.PhoneNumber, "", new { @class = "text-danger" })
                                                    <p id="phoneNumberValidate" class="text-danger"></p>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-form-label col-3 text-lg-right text-left"></label>
                                                <div class="col-9">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="form-group row" style="float:right">
                                                <label class="col-form-label col-3 text-lg-right text-left"></label>
                                                <div class="form-group">
                                                    <input type="button" value="Lưu thay đổi" class="btn btn-primary" id="btnEditAccount" />
                                                    <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--end::Row-->
                                </div>
                                <!--end::Tab-->
                            </div>
                        </form>
                    </div>
                </div>
                <div class="tab-pane fade" id="role" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <form class="form">
                        <div class="card-body" id="checkBoxRole">
                        </div>
                    </form>
                </div>

            </div>

            <!--end::Example-->
            <!--end::Content-->
        </div>
        <!--end::card body-->
        <!--begin::footer-->

    </div>
</div>
<script src="~/My_Js/Account.js"></script>
<script src="~/My_Js/editaccount.js"></script>
<script src="~/My_Js/getrole.js"></script>